body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.painel-habitos {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    padding: 2em;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    border: solid 1px;
    border-radius: 1em;
    background-color: rgb(230, 232, 235);
    box-sizing: border-box;
}

.titulo {
    letter-spacing: 1em;
    translate: calc(15px);
}

.layout-lista {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 1em;
    border: solid 1px;
    border-radius: .75em;
    background-color: white;
}

.mensagem-vazio {
    display: inline;
}

.lista-habitos {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.item-habito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
    border: solid 1px;
    box-sizing: border-box;
}

.item-habito h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0;
    font-size: x-large;
}

.frequencia-detalhe {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
}

.frequencia-detalhe li {
    display: flex;
}

.criar-habito {
    padding: 1em;
    width: 200px;
    background-color: rgb(44, 152, 224);
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.form-habito {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 700px;
    width: 700px;
    justify-content: center;
    background: white;
    background-color: rgb(230, 232, 235);
    box-shadow: 0 12px 30px rgb(0 0 0 / 15%);
    backdrop-filter: blur(15px);
    border: solid 1px;
    border-radius: 1em;
    box-sizing: border-box;
    gap: 2em;
}

.titulo-form {
    display: flex;
    align-self: center;
    letter-spacing: .5em;
}

.nome-habito {
    padding: 1em;
    letter-spacing: 2px;
    color: black;
    font-size: large;
    border: 0;
    border-bottom: 2px solid;
}

.frequencia-habito {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.frequencia-habito legend {
    font-size: large;
    letter-spacing: 2px;
}

.frequencia-habito input {
    margin: 0;
    width: 40px;
}

.layout-botoes {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.adicionar-habito,
.cancelar-habito {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    width: 200px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: medium;
}

.adicionar-habito {
    background-color: blue;
}

.cancelar-habito {
    color: black;
    border: solid 1px;
}

.escondido {
    display: none;
}

.modal {
    display: none;
    align-self: center;
    bottom: 3em;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 1em;
}

.texto-modal {
    text-align: center;
    font-size: x-large;
    color: red;
}

.visible {
    display: flex;
}